---
import CardItem from "@/components/ui/CardItem.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	cards: CollectionEntry<"centers">[];
}

const { cards } = Astro.props;
---

<section
	id="cards-grid"
	data-view="4"
	class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
	{
		cards.map((card) => (
			<CardItem
				id={card.id}
				title={card.data.title}
				summary={card.data.summary}
				location={card.data.location}
				pubDate={card.data.pubDate}
				region={card.data.location?.region}
			/>
		))
	}
</section>
